<!--guide section-->


<!--guide section-->



<!--this is the guide section-->



                                                    <table style="font-size: 20px;background-color: #f1f1f1;border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:inherit;width:100%;margin:0 auto;padding:0">
                                                    <tr>
                                                        <td colspan="2" style="padding: 25px 50px;  line-height: 24px;color:#949192;">
                                                            <span><!--text--></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" style="  color: #E69138;padding: 0px 0px 0px 50px;">
                                                            <span>Guide Contact Information</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100" colspan="1" style="padding: 25px 10px 25px 50px;">
                                                            <img src="http://www.clker.com/cliparts/7/4/c/4/1446118397610284725jobs.png" style="border: 3px solid #E69138;border-radius:50% 50% 50% 50%;width:75px;height: 75px;" alt="">
                                                        </td>
                                                        <td colspan="1">
                                                            <table style="font-size: 18px;color: black;border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:inherit;width:100%;margin:0 auto;padding:0">
                                                                <tr>
                                                                    <td style="padding:5px 0; margin:0">
                                                                        <p style="margin:0; font-weight: bold;">hansen@kootour.com</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding:5px 0; margin:0">
                                                                        <p style="margin:0"><label>+1-778-123-4567<label></p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding:5px 0; margin:0">
                                                                        <p style="margin:0"><label>Send message on Kootour</label></p>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                  </table>


      

                                               
    <!--this is end of the guide section-->

<!--table for the chart-->
<!--01-->
                                        <table style="background-color:#ededef;" cellpadding="0" cellspacing="0">
                                            <tr colspan="2">
                                                <td> Tour options</td>
                                            </tr>
                                            <tr>
                                                <td class="pattern" width="600" align="center">
                                                    <table cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td class="col" width="290" valign="top">
                                                                <table cellpadding="0" cellspacing="0">
                                                                    
                                                                    <tr>
                                                                        <td class="headline" align="left" style="font-family: arial,sans-serif; font-size: 22px; color: #333; padding-top: 15px;">
                                                                            Travellers
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                </table>
                                                            </td>
                                                            <td class="spacer" width="20" style="font-size: 1px;">&nbsp;</td>
                                                            <td class="col" width="290" valign="top">
                                                                <table cellpadding="0" cellspacing="0">
                                                                    
                                                                    <tr>
                                                                        <td class="headline" align="left" style="font-family: arial,sans-serif; font-size: 22px; color: #333; padding-top: 15px;">
                                                                            3
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                    
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
<!--02-->
                                        <table style="background-color:#ffffff;" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="pattern" width="600" align="center">
                                                    <table cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td class="col" width="290" valign="top">
                                                                <table cellpadding="0" cellspacing="0">
                                                                    
                                                                    <tr>
                                                                        <td class="headline" align="left" style="font-family: arial,sans-serif; font-size: 22px; color: #333; padding-top: 15px;">
                                                                            Customized Options
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                </table>
                                                            </td>
                                                            <td class="spacer" width="20" style="font-size: 1px;">&nbsp;</td>
                                                            <td class="col" width="290" valign="top">
                                                                <table cellpadding="0" cellspacing="0">
                                                                    
                                                                    <tr>
                                                                        <td class="headline" align="left" style="font-family: arial,sans-serif; font-size: 22px; color: #333; padding-top: 15px;">
                                                                            No Hotel Pickup and Drop off
                                                                            (Meet at Golf Course Entrance)
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                    
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>

<!--03-->

                                        <table style="background-color:#ededef;" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="pattern" width="600" align="center">
                                                    <table cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td class="col" width="290" valign="top">
                                                                <table cellpadding="0" cellspacing="0">
                                                                    
                                                                    <tr>
                                                                        <td class="headline" align="left" style="font-family: arial,sans-serif; font-size: 22px; color: #333; padding-top: 15px;">
                                                                            After Golf walking tour nearby
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                </table>
                                                            </td>
                                                            <td class="spacer" width="20" style="font-size: 1px;">&nbsp;</td>
                                                            <td class="col" width="290" valign="top">
                                                                <table cellpadding="0" cellspacing="0">
                                                                    
                                                                    <tr>
                                                                        <td class="headline" align="left" style="font-family: arial,sans-serif; font-size: 22px; color: #333; padding-top: 15px;">
                                                                            free (Extra 30 minutes)
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                    
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>

<!--04-->
                                        <table style="background-color:#ffffff;" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="pattern" width="600" align="center">
                                                    <table cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td class="col" width="290" valign="top">
                                                                <table cellpadding="0" cellspacing="0">
                                                                    
                                                                    <tr>
                                                                        <td class="headline" align="left" style="font-family: arial,sans-serif; font-size: 22px; color: #333; padding-top: 15px;">
                                                                            No Hotel Pickup and Drop off<br>
                                                            (Meet at Golf Course Entrance)
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                </table>
                                                            </td>
                                                            <td class="spacer" width="20" style="font-size: 1px;">&nbsp;</td>
                                                            <td class="col" width="290" valign="top">
                                                                <table cellpadding="0" cellspacing="0">
                                                                    
                                                                    <tr>
                                                                        <td class="headline" align="left" style="font-family: arial,sans-serif; font-size: 22px; color: #333; padding-top: 15px;">
                                                                            -$ 40.00 
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                    
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
<!--05-->
                                        <table style="background-color:#ededef;" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="pattern" width="600" align="center">
                                                    <table cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td class="col" width="290" valign="top">
                                                                <table cellpadding="0" cellspacing="0">
                                                                    
                                                                    <tr>
                                                                        <td class="headline" align="left" style="font-family: arial,sans-serif; font-size: 22px; color: #333; padding-top: 15px;">
                                                                            After Golf to enjoy a dinner and beer together
                                                        (extra cost for food and beer) 
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                </table>
                                                            </td>
                                                            <td class="spacer" width="20" style="font-size: 1px;">&nbsp;</td>
                                                            <td class="col" width="290" valign="top">
                                                                <table cellpadding="0" cellspacing="0">
                                                                    
                                                                    <tr>
                                                                        <td class="headline" align="left" style="font-family: arial,sans-serif; font-size: 22px; color: #333; padding-top: 15px;">
                                                                            free (Extra 90 minutes)
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                    
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>

<!--06-->
                                        <table style="background-color:#ffffff;" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="pattern" width="600" align="center">
                                                    <table cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td class="col" width="290" valign="top">
                                                                <table cellpadding="0" cellspacing="0">
                                                                    
                                                                    <tr>
                                                                        <td class="headline" align="left" style="font-family: arial,sans-serif; font-size: 22px; color: #333; padding-top: 15px;">
                                                                            Group Discount (for 3 guests and more)
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                </table>
                                                            </td>
                                                            <td class="spacer" width="20" style="font-size: 1px;">&nbsp;</td>
                                                            <td class="col" width="290" valign="top">
                                                                <table cellpadding="0" cellspacing="0">
                                                                    
                                                                    <tr>
                                                                        <td class="headline" align="left" style="font-family: arial,sans-serif; font-size: 22px; color: #333; padding-top: 15px;">
                                                                            -10%
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                    
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
<!--table for the chart-->


<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                        
                            <p>For more information on <a href="http://www.tour_detail.html" target="_blank">tour details</a>, <a href="http://www.tour_detail.html" target="_blank">cancelation policy</a>, <a href="http://www.tour_detail.html" target="_blank">customer help</a>, <a href="http://www.tour_detail.html" target="_blank">terms and policies </a>,&nbsp;visit our website at <a href="http://www.kootour.com">www.kootour.com</a>&nbsp;</p>

                        </td>
                    </tr>
                </tbody></table>









                


                                       