/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f3f7;
    /* change if the mask should have another color then white */
    z-index: 9999999;
    /* makes sure it stays on top */
}
#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(../img/status.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

@font-face {
  font-family: Montserrat-Light;
  src: url("../fonts/montserrat/Montserrat-Light.woff"); 
}
@font-face {
  font-family: Montserat-UltraLight;
  src: url("../fonts/montserrat/Montserrat-UltraLight.woff"); 
}
@font-face {
  font-family: Montserrat-Thin;
  src: url("../fonts/montserrat/Montserrat-Thin.woff"); 
}
@font-face {
  font-family: Montserrat-Medium;
  src: url("../fonts/montserrat/Montserrat-Medium.woff"); 
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/montserrat/Montserrat-Regular.woff"); 
}

@font-face {
  font-family: Montserrat-SemiBold.woff;
  src: url("../fonts/montserrat/Montserrat-SemiBold.woff"); 
}

@font-face {
  font-family: Montserrat-Bold.woff;
  src: url("../fonts/montserrat/Montserrat-Bold.woff"); 
}
@font-face {
  font-family: Montserrat-ExtraBold.woff;
  src: url("../fonts/montserrat/Montserrat-ExtraBold.woff"); 
}
@font-face {
  font-family: Montserrat-Black.woff;
  src: url("../fonts/montserrat/Montserrat-Black.woff"); 
}

body {
    font-family: "Montserrat-Light", Helvetica, sans-serif; 
    color: #8a8b8b;
    font-size: 18px;
    line-height: 22px;
    background-color: #00cccc;
    background-size: cover;
	background-repeat:repeat;
    font-weight: normal;
	
}



body.yellow {
    background-color: #ffcc00;
}
body.green {
    background-color: #aaee06;
}
body.blue {
    background-color: #00d2ff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding-bottom: 50px;
    text-align: center;
}

@media (max-width:460px){
    .slogan h2 span{
        font-size: 28px !important;
    }
}

.homepage #logo {
    margin: 0 0 26px 0;
}
.home {
    background: #e6e9ed url(../img/bg-body.png) left top repeat-x;
}
.main-wrapper {
    padding: 60px 20px 0 20px;
    margin: 0 auto;
}
/*Logo Start Here*/

#logo {
    text-align: center;
    margin: 0 0 30px 0;
    padding: 0;

}
#logo a {
    display: inline-block;
    padding: 4px;
}
/*Logo End Here*/
back
/*Slogan start here*/

.slogan {
    font-family: "Montserrat-Light", Helvetica, sans-serif;  
    margin-bottom: 76px;
    text-align: center;
}
.slogan h2 {
    font-family: "Montserrat-Light", Helvetica, sans-serif; 
    color: #fff;
    line-height: 35px;
}
.slogan h2 span{
     font-family: "Montserrat-Light", Helvetica, sans-serif; 
}

.slogan p {
    font-family: "Montserrat-Light", Helvetica, sans-serif; 
    margin: 10px 0;
    padding: 0;
    color: #3e3d3d;
}
/*SLogan end here*/



/*Newsletter subscribe start here*/

.email-ico i {
    font-size: 36px;
    line-height: 72px;
    color:#f5d10a;
}

@media (max-width: 460px){
    .email-ico i{
        font-size: 30px !important;
        line-height: 60px !important;
    }
}

.contact .form-group {
    position: relative;
    width: 100%;
    margin-bottom: 4px !important;
}



.contact {
    color: grey;
    float: none;
    margin: 0 auto 60px auto;
}

.contact input {
    font-family: "Montserrat-Light", Helvetica, sans-serif; 
    background-color: #ffffff;
    border: none;
    height: 60px;
    width: 100%;
    padding: 0 22% 0 70px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

@media (max-width: 460px){
    .contact input {
        height: 50px !important;
        font-size: 12px !important;
        padding-left: 40px;
    }
}
.contact .error:focus,
.contact .error {
    border: 1px solid #ff0000;
}
.contact label.error {
    font-family: "Montserrat-Light", Helvetica, sans-serif; 
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    position: absolute;
    right: 0;
    text-transform: none;
    top: -28px;
    border: none;
    background-color: #FF0000;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.contact .email-ico {
    position: absolute;
    top: -6px;
    left: 12px;
    font-size: 24px;
}

@media(max-width:460px){

    .contact .email-ico{
        left:6px !important;

    }
}

.contact .btn-submit {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 20px;
    border: none;
    background-color: #f5d10a;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 18px;
    color: #ffffff;
    line-height: 22px;
    font-family: "Montserrat-Light", Helvetica, sans-serif; 
    width: 100px;
    height: 40px;
    font-weight: bold;
    line-height: 24px;
	padding: 0;
}

@media (max-width: 460px){
    .contact .btn-submit {
        font-size: 12px !important;
        width: 70px !important;
        height: 40px !important;
        right: 5px !important;
        top: 5px !important;
    }
}
.form-respond .content-message {
    border-radius: 4px;
    margin: 0 0 50px;
    padding: 30px;
}
.form-respond .success {
    color: #fff;
    background-color: green;
}
.form-respond .content-message {
    border-radius: 4px;
    margin: 0 0 50px;
    padding: 4px 8px;
    color: #fff;
    background-color: #FF0000;
}
.form-respond .content-message h2,
.form-respond .content-message p {
    display: inline;
    font-size: 15px;
}
/*Newsletter subscribe end here*/




.ux .modal {
    background: rgba(31, 31, 31, 0.96)
}
.pop-up {
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
    background: none;
    border: none;
}
.cls-pop {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    font-weight: normal;
    z-index: 999;
}
.cls-pop:hover {
    color: #ff382e;
    text-decoration: none;
}
.pop-up h3 {
    font-size: 34px;
    line-height: 40px;
    margin: 0 0 60px 0;
    padding: 0;
    color: #ff382e;
    text-align: center;
    font-family: "Montserrat-Light", Helvetica, sans-serif; 
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
}
.pop-up h3:before {
    background-color: #ff382e;
    bottom: -30px;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 300px;
}
.pop-up h3:before {
    left: 50%;
    margin-left: -150px;
}
.pop-up p {
    margin: 10px 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
    color: #dadada;
}
.pop-up-cnt {
    text-align: center;
}
.pop-up-cnt i {
    height: 40px;
    width: 40px;
    background-color: #ff3b30;
    border-radius: 50%;
    color: #ffffff;
    line-height: 40px;
    margin-bottom: 10px;
}
.pop-up-cnt h4 {
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
.pop-up-cnt .cnt-wrap {
    padding-top: 30px;
}
.features {
    margin: 20px 0 0 0;
    padding: 0 0 0 14px;
}
.features li {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 28px;
    color: #dadada;
    width: 33%;
    float: left;
}
.gmap {
    margin: 20px 0;
    position: relative;
    width: 100%;
    height: 400px;
}

/*Contact*/

input[type="text"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-weight: 300;
    height: 45px;
    line-height: 45px;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;
}

textarea {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    height: 160px;
    margin-bottom: 20px;
    overflow: auto;
    padding: 20px;
    width: 100%;
}

.contact-btn-submit {
    font-family: "Montserrat-Light", Helvetica, sans-serif; 
    background-color: rgb(255, 56, 46);
    border: medium none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    line-height: 24px;    
    width: 110px;
}

/* Captcha */

.captcha > input
{
	width:50%;
	margin-top: 10px;
}

/* 404 page design */

h1.error {
    color: rgb(255, 255, 255);
    font-size: 10em;
}
.no-page-found {
    margin-bottom: 76px;
    text-align: center;
	color: rgb(255, 255, 255);	
}
.no-page-found p {
    color: rgb(255, 255, 255);
    margin: 10px 0;
    padding: 0;
}
.no-page-found p a{
    color: rgb(255, 255, 0);
	text-decoration: underline;    
}
.no-page-found p a:hover{    
	text-decoration: none;    
}

/*Template color option start here*/

.template-colors {
    margin: 40px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
}
.template-colors li {
    margin: 0 2px;
    padding: 0;
    display: inline-block;
    font-size: 26px;
}
.template-colors li a {
    margin: 0;
    padding: 0;
    outline: none;
    display: block;
    width: 42px;
    height: 42px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.template-colors li a:hover {
    border: 1px solid #999;
}
.template-colors li a.blue {
    background-color: #00d2ff;
}
.template-colors li a.green {
    background-color: #aaee06;
}
.template-colors li a.yellow {
    background-color: #ffcc00;
}

.becomeguide{
    background-color: #f5d10a;
    padding: 10px;
    border-radius: 3px;
    color:black;
    font-size:24px;
    text-align: center;
}

@media (max-width: 460px){
    .becomeguide {
       font-size: 20px !important;
    }
}

a:link {
    color:white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #00cccc;
    text-decoration: none;
}

/* selected link */
a:active {
    color: ;
}