body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

table {
  border-spacing: 0;
}

table td {
  border-collapse: collapse;
}

.ExternalClass {
  width: 100%;
}

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

.ReadMsgBody {
  width: 100%;
  background-color: #ebebeb;
}

table {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

img {
  -ms-interpolation-mode: bicubic;
}

.yshortcuts a {
  border-bottom: none !important;
}

@media screen and (max-width: 599px) {
  .force-row,
  .container {
    width: 100% !important;
    max-width: 100% !important;
  }
}
@media screen and (max-width: 400px) {
  .container-padding {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}
.ios-footer a {
  color: #aaaaaa !important;
  text-decoration: underline;
}


/*  two columns*/

    body{
  background-color:#00cccc;
}


/*  SECTIONS  */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
/*  COLUMN SETUP  */

.col {
  display: block;
  float: left;
  margin: 0;
}

.col:first-child {
  margin-left: 0;
}
/*  GROUPING  */

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
  /* For IE 6/7 */
}
/*  GRID OF TWO  */

.span_2_of_2 {
  width: 100%;
 
 }

.span_1_of_2{
  width: 266px;
  background-color:#ededef;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  
}

.span_even{
  width: 266px;
  background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    
}

.img-logo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    height: auto;
    margin-top:0;
    margin-bottom: 12px;
  }

@media only screen and (max-width: 615px) {
  .span_2_of_2, .span_1_of_2, .span_even {
    width: 100%;
  }
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */


