.header,
.title,
.subtitle,
.footer-text {
  font-family:AvenirNext-Regular, Sans-serif;
  color:#333333;
}

.header {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 12px;
  color: #DF4726;
}

.footer-text {
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}
.footer-text a {
  color: #aaaaaa;
}

.container {
  width: 600px;
  max-width: 600px;
}

.container-padding {
  padding-left: 24px;
  padding-right: 24px;
}

.content {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ffffff;
}

code {
  background-color: #eee;
  padding: 0 4px;
  font-family: Menlo, Courier, monospace;
  font-size: 12px;
}

hr {
  border: 0;
  border-bottom: 1px solid #00cccc;
}

.hr {
  height: 1px;
  border-bottom: 1px solid #00cccc;
  margin-bottom: 20px;
}

h2{
  
  font-weight: 600;
  font-family: AvenirNext-Regular, Sans-serif;
 }


.title {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  text-align: center;
  font-family:AvenirNext-Regular, Sans-serif;
}
.emphasize{
  font-family: AvenirNext-DemiBold;
  font-size: 16px;
  color: #333333;
}
.subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #00cccc;
  margin-top:20px;
}

.subtitle span {
  font-weight: 400;
  color: #999999;
}

.body-text {
  font-family:AvenirNext-Regular, Sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #333333;
}

.col {
  font-family: AvenirNext-Regular, Sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #333333;
  width: 100%;
}
a{
  text-decoration: none;
  color:#00cccc;
}

a:hover{
  color:#c3c3c3;
}

a:active{
  color:#66cccc;
}

.copyright-text{
font-family: AvenirNext-Demibold;
text-align: center;
}
