/*@lineheight: 1.42857143;*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ie body.full-height {
        min-height: 100vh;
        height: 100vh;
    }
}

.ie .social-links img:hover,
.ie .lg-social-links img:hover {
    opacity: 0.8;
}

.ie .city-wrapper .city-illustration:hover {
    opacity: 0.8;
}

.ie .tours:hover .tours-illustration {
    opacity: 0.8;
}

/*booking */

.userinfo p {
    margin-top: 20px;
}

div.userinfo input {
    width: 100%;
    border-radius: 3px;
    border: 2px solid #c3c3c3;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 10px;
    color: #000000;
}
/*-------------------- nav and footer------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.navbar-kootour {
    margin-bottom: 0;
    font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
    height: 50px;
    z-index: 3;
    border-radius: 0;
    border: 0;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
    /* Standard syntax */
    background-color: transparent;
}

.navbar-brand-img {
    padding: 5px;
}

.navbar-kootour .navbar-brand-img img {
    width: 200px;
    height: auto;
    padding-top: 0;
}

@media (max-width:768px) {
    .navbar-kootour .navbar-brand-img img {
        width: 140px !important;
        height: auto;
    }
}

.navbar-kootour.nomargin {
    margin-bottom: 0px;
}

.navbar-header {
    height: 50px;
}

.navbar-kootour {
    height: 50px !important;
}

    .navbar-kootour .navbar-brand {
        height: 50px !important;
    }

    .navbar-kootour.transparent {
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
        /* Standard syntax */
        background-color: transparent;
        border: 0px;
    }

    .navbar-kootour a,
    .navbar-kootour a:hover,
    .navbar-kootour a:active,
    .navbar-kootour a:focus {
        color: white;
        text-decoration: none;
    }

    .navbar-kootour .icon {
        max-height: 29px;
        width: auto;
        margin: 0 0 0 10px;
    }
    /* hack for the flag */
    .navbar-kootour .navbar-nav > li > a {
        line-height: 30px;
    }

    .navbar-kootour .navbar-right li:first-child .icon {
        max-height: 25px;
    }

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: inherit;
}

.navbar-kootour .icon-navbar {
    height: 24px;
}

.navbar-kootour .kootour-link {
    font-size: 24px;
    font-size: 2.4rem;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-toggle .navbar-toggle {
    background-color: white;
}

.navbar-kootour .navbar-text {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0;
    color: white;
}

.navbar-kootour .navbar-collapse {
    box-shadow: none;
    padding-top: 10px;
}

.navbar-kootour .open > a,
.navbar-kootour .open > a:hover,
.navbar-kootour .open > a:focus,
.navbar-kootour:not(.transparent) .nav > li > a:hover,
.navbar-kootour:not(.transparent) .nav > li > a:focus {
    background-color: #C3C3C3;
}

.navbar-kootour .dropdown-menu {
    border-top: 0;
}

    .navbar-kootour .dropdown-menu > li > a:hover,
    .navbar-kootour .dropdown-menu > li > a:focus {
        background: none;
        background-color: #F7F7F8;
    }

    .navbar-kootour .dropdown-menu > li > a {
        padding: 9px 20px;
        color: #00cccc;
        font-size: 16px;
    }

    .navbar-kootour .dropdown-menu > li:not(:last-child) > a {
        border-bottom: 1px solid #ededef;
    }

.navbar-kootour .dropdown-dashboard {
    width: 350px;
    padding: 0;
}

    .navbar-kootour .dropdown-dashboard > li > a {
        color: #333333;
    }

    .navbar-kootour .dropdown-dashboard a {
        margin: 0;
    }

    .navbar-kootour .dropdown-dashboard .see-all {
        color: #00cccc;
        font-weight: bold;
        padding: 6px;
        display: block;
    }

    .navbar-kootour .dropdown-dashboard > li > a {
        padding: 0;
        font-size: 16px;
    }

    .navbar-kootour .dropdown-dashboard .icon-notification {
        width: 35px;
        margin-bottom: 0;
    }

    .navbar-kootour .dropdown-dashboard .dashboard-divider {
        text-align: center;
        padding: 6px;
        color: white;
        font-weight: bold;
        background-color: #00cccc;
    }

@media (min-width: 768px) {
    .navbar-kootour .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .message-link-desktop {
        display: block !important;
    }

    .message-link-mobile {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }

    .message-link-desktop {
        display: none !important;
    }

    .message-link-mobile {
        display: block !important;
    }
    /*
  .navbar-kootour .navbar-collapse {
    background-color: #00cccc;
  } */
    .navbar-kootour .navbar-text {
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 0;
        color: white;
    }


    .navbar-kootour .navbar-text {
        display: none;
    }

    .navbar-kootour .dropdown-menu > li:not(:last-child) > a {
        border: 0;
    }
}

.nobackgroundcolor {
    background-color: transparent;
}

.footer-kootourgolf {
    width: 250px;
    height: auto;
}


footer {
    margin-top: auto;
    background-color: #333333;
    color: white;
}

    footer a,
    footer a:hover {
        color: white;
    }

    footer .container {
        padding-top: 20px;
        padding-bottom: 30px;
    }

        footer .container.copyright {
            padding-top: 0px;
            color: #C3C3C3;
        }

    footer form {
        max-width: 200px;
        margin: 0 auto;
        margin-top: 20px;
    }

    footer .footer-band {
        font-size: 36px;
        font-size: 3.6rem;
        font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
        : Montserrat-Light;
        color: white;
        vertical-align: bottom;
    }

.footer-band-wrapper {
    margin-top: -45px;
    margin-bottom: 30px;
}

.containedCenter {
    margin-left: auto;
    margin-right: auto;
    max-width: 170px;
}

.social-links img {
    width: 30px;
}

.social-links > a {
    padding-right: 10px;
}

    .social-links > a:last-child {
        padding-right: 0px;
    }

.lg-social-links {
    margin: 20px 0;
}

    .lg-social-links img {
        width: 50px;
    }

    .lg-social-links > a {
        padding-right: 30px;
    }

        .lg-social-links > a:last-child {
            padding-right: 0px;
        }

    .social-links img:hover,
    .lg-social-links img:hover {
        -webkit-filter: brightness(85%);
        filter: brightness(85%);
    }

@media (max-width: 1200px) {
    .footer-band-wrapper {
        text-align: center;
    }
}

@media (max-width: 768px) {
    footer {
        text-align: center;
    }

    .footer-block {
        margin-bottom: 30px;
    }

    .lg-social-links img {
        width: 30px;
    }

    .lg-social-links > a {
        padding-right: 15px;
    }
}



footer div.footer-block div {
    margin-left: auto;
    margin-right: auto;
}

.containedCenter01 {
    max-width: 300px;
}

.containedCenter02 {
    max-width: 200px;
}

.containedCenter03 {
    max-width: 170px;
}
/*-------------------- body and general------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
body {
    font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
    line-height: 1.8;
    background-color: #ffffff;
    color: #333333;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


@media (min-width: 1200px) {
    .container {
        width: 1190px;
        /*background-color:aquamarine;*/
    }
}

/*@media (max-width: 1200px) and (min-width:992px) {
    .container {
        background-color: darkred;
    }
}*/

@media(max-width: 992px) and (min-width:768px) {
    .container {
        width: 738px;
        /*background-color: lightpink;*/
    }
}

body.full-height {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
}

h1 {
    font-size: 1.5em;
    color: #ffffff;
}

h3 {
    font-size: 1.2em;
    color: #a37e2c;
}

a {
    color: #000000;
}

    a.nocolor {
        color: #333333;
    }

    a:hover,
    a:focus {
        color: #000000;
    }

hr.blue {
    border-color: #00cccc;
    border-width: 2px;
    max-width: 300px;
}


.basic-info-summary dl dt {
    float: left;
    width: 110px;
    clear: left;
}

/*about us/contactUS*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.aboutus-text {
    margin-bottom: 25px;
}

.contactUS-wechat {
    text-align: center;
}

    .contactUS-wechat img {
        width: 300px;
        height: 300px;
    }

/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*city page*/

.cover-city {
    position: relative;
    height: 400px;
    background-image: url('http://www.rioreal.com/sites/default/files/rioreal._golf_course_hole_4.jpg');
    background-size: cover;
    background-position: center center;
    font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
}

@media (max-width: 992px) {
    .cover-city {
        height: 400px;
    }
}

@media (max-width: 768px) {
    .cover-city {
        height: 200px;
    }
}

h1.name-city {
    text-align: center;
    margin-top: 150px;
}

@media (max-width:768px) {
    h1.name-city {
        text-align: center;
        margin-top: 40px !important;
    }
}

.panel {
    border-radius: 3px;
    border: 0;
}

.panel-group-filter {
    margin-bottom: 18px;
    border: 1px solid #A37e2c;
    border-radius: 3px;
}

@media (min-width:576px) {
    .panel-group-filter {
        border: 0;
    }
}

.panel-white {
    border-radius: 3px;
    background-color: #ffffff;
    background-image: none;
    box-shadow: none;
}

    .panel-white .panel-heading {
        padding: 10px 15px;
        display: block;
        border-bottom: 1px solid #A37e2c;
    }

@media (min-width:576px) {
    .panel-white .panel-heading {
        border-bottom: 0;
    }
}

@media (min-width:576px) {
    .panel-white .panel-heading {
        display: inline-block;
    }
}

@media (min-width:576px) {
    .collapse.in {
        display: inline-block;
    }
}


.panel-white .panel-body {
    padding: 0;
}

@media (min-width:576px) {
    .panel-body div {
        display: inline-block;
    }
}

.panel-white .panel-title a,
.panel-white .panel-title a:hover,
.panel-white .panel-title a:focus,
.panel-white .panel-title a:active {
    text-decoration: none;
    color: #000000;
    display: block;
    position: relative;
}

.panel-white .panel-title {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}


    .panel-white .panel-title a:before {
        content: "";
        position: absolute;
        top: 0px;
        width: 33px;
        opacity: 0.5;
        height: 33px;
        right: 0px;
        background-image: url(../../images/icons/arrow_downwards.png) !important;
        background-repeat: no-repeat;
        background-size: contain;
    }

@media (min-width:576px) {
    .panel-white .panel-title a:before {
        background-image: none !important;
    }
}


.filter-options {
    width: 100%;
    background-color: #ededef;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #A37e2c;
}

@media (min-width:576px) {
    .filter-options {
        border-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.filter-options:hover {
    background-image: linear-gradient(-180deg, #D0B557 0%, #A37E2C 100%);
}

.filter-options-locations {
    width: 100%;
    background-color: #ededef;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

@media (min-width:576px) {
    .filter-options-locations {
        border-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.filter-options-locations:hover {
    background-image: linear-gradient(-180deg, #D0B557 0%, #A37E2C 100%);
}


.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 0
}
/*booking*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.booking-container {
    margin-top: 30px;
    margin-bottom: 50px;
}


.booking-wrapper {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 400px;
    margin: auto;
    height: 400px;
}

.booking-text-center {
    text-align: center;
    padding-top: 20px;
}

.btn-booking-player {
    font-size: 1.3em;
    padding-top: 3px;
    border-radius: 3px;
    border: 1px solid #a37e2c;
    box-shadow: -1px 0 2px 0 rgba(0,0,0,.12), 1px 0 2px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.12);
    background-color: rgba(237, 237, 239, 0.23);
}

.btn-booking {
    padding: 0;
    margin-bottom: 15px;
    font-size: 1em;
    border-radius: 3px;
    border: 1px solid #a37e2c;
    box-shadow: -1px 0 2px 0 rgba(0,0,0,.12), 1px 0 2px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.12);
    background-color: rgba(237, 237, 239, 0.23);
}

.btn-booking:hover, .btn-booking:focus {
        background-color: #ededef;
        border: 1px solid #a37e2c;
 }

.text-teetime {
    font-size: 1.5em;
    color: #a37e2c;
}

.player-teetime {
    display: inline-block;
}

.player-number-teetime {
    font-size: 1em;
    color: #a37e2c;
}

.teetime-above-div {
    text-align: center;
}

.teetime-below-div {
    border-top: 1px solid #333333;
    width: 100%;
}

.teetime-price {
    text-align: center;
    display: inline-block;
    float: left;
    width: 50%;
    border-right: 1px solid #333333;
}

div.teetime-below-div p {
    margin: 5px;
}

.teetime-price-text {
    text-align: center;
    display: inline-block;
}

button div.teetime-above-div p {
    line-height: 0;
}
/*booking summary*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.ledger-row1 {
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 5px;
    padding-top: 5px;
}

.ledger-row2 {
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 5px;
    padding-top: 5px;
}

.ledger-row3 {
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 5px;
    padding-top: 5px;
}

.ledger-row3 {
    padding-bottom: 5px;
    padding-top: 5px;
}

div .ledger-row4 h3 {
    color: black;
    padding-top: 10px;
    margin-top: 0;
}

div .ledger-row4 h4 {
    color: black;
    padding-top: 10px;
    margin-top: 0;
}

div .ledger-row1 div:nth-child(1) {
    width: 50%;
    float: left;
    display: inline-block
}

div .ledger-row1 div:nth-child(2) {
    width: 50%;
    text-align: center;
    display: inline-block;
}

div .ledger-row2 div:nth-child(1) {
    width: 50%;
    float: left;
    display: inline-block;
}

div .ledger-row2 div:nth-child(2) {
    width: 50%;
    text-align: center;
    display: inline-block;
}

div .ledger-row3 div:nth-child(1) {
    width: 50%;
    float: left;
    display: inline-block;
}

div .ledger-row3 div:nth-child(2) {
    width: 50%;
    text-align: center;
    display: inline-block
}

div .ledger-row4 div:nth-child(1) {
    width: 50%;
    float: left;
    display: inline-block
}

div .ledger-row4 div:nth-child(2) {
    width: 50%;
    text-align: center;
    display: inline-block
}

div.basic-info dl {
    margin-bottom: 0;
}

.booking-confirmation {
    height: 400px;
    text-align: center;
    margin-top: 50px;
}

    .booking-confirmation i {
        color: #a37e2c;
    }

    .booking-confirmation p {
        font-size: 1.3em;
    }

/*payment */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.payment-nopadding{
    margin-left:0;
    margin-right:0;
}
.logo-stripe img {
    width: 30%;
    height: auto;
}

.payment-statement p {
    padding-top: 10px;
    line-height: 1.3em;
}

.payment-statement p a{
    font-weight:bold;

}

    .payment-statement p a:hover {
        color:#a37e2c;
    }
    /* Golf course page */
    /*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .cover-golfcourse {
        position: relative;
        height: 400px;
        background-image: url('https://s-media-cache-ak0.pinimg.com/originals/d7/04/07/d704070fc497cb29f9e6c709aead7bb9.jpg');
        background-size: cover;
        background-position: center center;
        font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
    }

@media (max-width: 992px) {
    .cover-golfcourse {
        height: 400px;
    }
}

@media (max-width: 768px) {
    .cover-golfcourse {
        height: 200px;
    }
}

h1.name-golfcourse {
    text-align: center;
    margin-top: 150px;
}

@media (max-width:768px) {
    h1.name-golfcourse {
        text-align: center;
        margin-top: 40px !important;
    }
}

.basic-info dl dd {
    padding-bottom: 10px;
}

section.map {
    width: 100%;
    height: 400px;
    position: relative;
}

    section.map > button {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #ffffff;
        width: 100px;
        height: 40px;
        border-radius: 3px;
        border: 0;
    }


/* Buttons */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.btn-kootourgolf, .btn-kootourgolf:focus, .btn-kootourgolf:active {
    color: #ffffff;
    background-image: linear-gradient(-180deg, #D0B557 0%, #A37E2C 100%);
    margin-top: 20px;
}

.btn-kootourgolf:hover {
   background-image: linear-gradient(-180deg, #333333 0%, #333333 100%);
}

.btn-general {
    width: 200px;
}
.btn-main-booking{
    width:100%;
}
.btn-primary-booking{
    width:300px;
}
@media screen and (max-width:576px) {
    .gold {
        margin-top: 3px;
    }
}
.Booking_btn {
    text-align: center;
}

.btn-social {
    font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
    font-size: 18px;
    font-size: 1.8rem;
    color: white;
    line-height: 25px;
}

    .btn-social img {
        width: 20px;
        padding: 0 10px;
        box-sizing: content-box;
    }

    .btn-social.btn-social-google {
        background-color: #E02831;
    }

    .btn-social.btn-social-facebook {
        background-color: #3b5998;
    }

        .btn-social.btn-social-facebook:hover {
            background-color: rgba(59, 89, 152, 0.8);
        }

        .btn-social.btn-social-facebook img {
            margin-top: -5px;
        }

    .btn-social.btn-social-wechat {
        background-color: #7bb32e;
    }

        .btn-social.btn-social-wechat:hover {
            background-color: rgba(123, 179, 46, 0.8);
        }



.btn-social {
    font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
    font-size: 18px;
    font-size: 1.8rem;
    color: white;
    line-height: 25px;
}

    .btn-social img {
        width: 20px;
        padding: 0 10px;
        box-sizing: content-box;
    }

    .btn-social.btn-social-google {
        background-color: #E02831;
    }

    .btn-social.btn-social-facebook {
        background-color: #3b5998;
    }

        .btn-social.btn-social-facebook:hover {
            background-color: rgba(59, 89, 152, 0.8);
        }

        .btn-social.btn-social-facebook img {
            margin-top: -5px;
        }

    .btn-social.btn-social-wechat {
        background-color: #7bb32e;
    }

        .btn-social.btn-social-wechat:hover {
            background-color: rgba(123, 179, 46, 0.8);
        }

/*-------------------- header----------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.searchtypeaheadOnheader {
    float: left;
    width: 400px;
}

@media (max-width:768px) {
    h1.slogan {
        font-size: 1.5em;
        text-align: center;
    }
}

.title {
    color: #000000;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*///////////home cover///////////////*/
.cover-homepage {
    position: relative;
    height: 400px;
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/31/d3/89/31d3892692d9c2ac0fb8405f4e0d953c.jpg');
    background-size: cover;
    background-position: center center;
    font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
}

@media (max-width: 992px) {
    .cover-homepage {
        height: 400px;
    }
}

@media (max-width: 768px) {
    .cover-homepage {
        height: 200px;
    }
}

@media (max-width: 600px) {
    .cover.aboutus {
        background-image: url('../../images/company_banner.jpg');
    }
}



@media (max-width: 600px) {
    .cover.aboutus {
        background-image: url('../../images/company_banner.jpg');
    }
}

@media (min-width:992px) {
    .content-inside-header {
        position: relative;
        top: 20%;
        text-align: center;
        width: 650px;
    }
}

@media (max-width:768px) {
    .content-inside-header {
        position: relative;
        text-align: center;
        width: 400px;
    }
}


@media (max-width:576px) {
    .content-inside-header {
        position: relative;
        text-align: center;
        width: 70% !important;
    }
}


@media (max-width: 1200px) {
    .cover .form-cover {
        width: 90%;
    }
}


.form-cover-mobile-wrapper {
    display: block;
}

}

.cover.guide-cover {
    background-image: url('../../images/header_bg.jpg');
}

.form-cover-mobile-wrapper {
    display: none;
    margin-bottom: 30px;
}

/*-------------------- the end of promo packages (cards) and the courses----------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.card-wrapper .card-illustration {
    height: 150px;
    position: relative;
    background-size: cover;
    background-position: center center;
    display: flex;
    vertical-align: middle;
    align-items: center;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

.card-wrapper {
    position: relative;
    margin-bottom: 30px;
    background-color: #ffffff;
}

.golf-course-info {
    position: relative;
    background-color: #ffffff;
}

.card-wrapper-packages {
    position: relative;
    margin-bottom: 30px;
    background-color: #ffffff;
    padding-left: 0;
    padding-right: 5px;
}

@media screen and (max-width: 480px) {
    .card-wrapper-packages {
        padding-left: 15px !important;
        padding-right: 15px;
    }
}

.card-wrapper-packages .card-illustration {
    height: 150px;
    position: relative;
    background-size: cover;
    background-position: center center;
    display: flex;
    vertical-align: middle;
    align-items: center;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

.card-container {
    border-radius: 3px;
    box-shadow: -1px 0 2px 0 rgba(0,0,0,.12), 1px 0 2px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.12);
}

.card-description {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    color: #000;
}

.card-title-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    left: 0;
    bottom: 15px;
    padding: 7px 15px 0 7px;
    color: white;
    border-radius: 0px 3px 3px 0px;
}

.course-price-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    left: 0;
    top: 30px;
    padding: 7px 15px 0 7px;
    color: white;
    border-radius: 0px 3px 3px 0px;
    background-image: linear-gradient(-180deg, #D0B557 0%, #A37E2C 100%);
}


/* golf courses*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.golf-courses-description {
    list-style-type: none;
    padding-left: 10px;
    line-height: 25px;
}



.space {
    padding-top: 5px;
}

.golf-course-price02 {
    color: #E44206;
}

.golf-course-address {
    font-size: 12px;
}

ul li i {
    color: #A37E2C;
}

.control-label {
    font-weight: normal;
    font-size: 16px;
    font-size: 1.6rem;
}

.has-warning .form-control,
.has-warning .form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #FF9800;
}

.has-success .form-control,
.has-success .form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #4CAF50;
}

.form-control {
    color: #333333;
    padding: 6px 12px;
    height: 40px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom:10px;
}

    .form-control:-moz-placeholder {
        color: #C3C3C3;
    }

    .form-control:-ms-input-placeholder {
        color: #C3C3C3;
    }

    .form-control::-webkit-input-placeholder {
        color: #C3C3C3;
    }

.form-group.required .control-label:after {
    content: "*";
    color: #00cccc;
    padding: 8px;
}

select,
input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

select {
    overflow: hidden;
    background-image: url('../../images/icons/arrow_downwards.png') !important;
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 15px;
}

    select::-ms-expand {
        display: none;
    }

    select.black {
        background-image: url('../../images/icons/arrow_downwards_white.png') !important;
    }

    select.white {
        background-color: transparent;
        color: white;
        border-color: white;
    }

textarea {
    resize: none;
}

    select.gray,
    input.gray,
    textarea.gray {
        background-color: #ededef;
        color: #333333;
        border-color: #ededef;
    }

    select.black,
    input.black,
    textarea.black {
        background-color: #333333;
        color: white;
        border-color: white;
    }

    select.transparent,
    input.transparent,
    textarea.transparent {
        background-color: transparent !important;
        color: #333333;
        border-color: transparent;
    }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox {
    display: none;
}

    .checkbox ~ label {
        padding-left: 0;
        font-weight: normal;
        margin-bottom: -6px;
        display: block;
    }

    .checkbox + label {
        width: 23px;
        height: 23px;
        cursor: pointer;
        float: left;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .checkbox + label {
        background: url('../../images/icons/checklist_blank.png') no-repeat;
        background-size: contain;
    }

    .checkbox:checked + label {
        background: url('../../images/icons/checklist.png') no-repeat;
        background-size: contain;
    }

input[type=radio] {
    display: none;
}

    input[type=radio] + label {
        padding-left: 35px;
        display: inline-block;
        background-repeat: no-repeat;
        cursor: pointer;
        background-size: 22px;
    }

    input[type=radio] + label {
        background-image: url('../../images/icons/button_radio_off.png');
    }

    input[type=radio]:checked + label {
        background-image: url('../../images/icons/button_radio_on.png');
    }

/*select.input-lg,
.input-lg {
    height: 44px;
    padding: 10px 13px;
    line-height: 1.3333333;
    font-size: 18px;
    font-size: 1.8rem;
}*/

/* File upload */
.file-input {
    color: transparent;
    width: 100%;
    height: 40px;
}

    .file-input::-webkit-file-upload-button {
        visibility: hidden;
        color: transparent;
    }

    .file-input::before {
        content: 'Change Picture';
        display: inline-block;
        color: white;
        background-color: #00cccc;
        font-size: 18px;
        font-size: 1.8rem;
        padding: 8px 16px;
        border-radius: 3px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        width: 100%;
        text-align: center;
    }

    .file-input:hover::before {
        background-color: #66cccc;
        color: white;
    }

.uploader-from-group .uploader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media screen and (max-width: 640px) {
    .uploader-from-group .uploader {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
    }

        .uploader-from-group .uploader .file-input {
            margin-top: 15px;
        }
}

.carousel-kootour {
    position: relative;
}

    .carousel-kootour .carousel-control {
        opacity: 1;
    }

.carousel-indicators {
    z-index: 2;
}

.carousel-kootour .carousel-control.left,
.carousel-kootour .carousel-control.right {
    background: none;
}

.carousel-control .icon:before {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
}

.carousel-control .icon-prev {
    background: url("../../images/icons/arrow_white_head_left_192X192.png") no-repeat;
    background-size: contain;
    z-index: 2;
}

.carousel-control .icon-next {
    background: url("../../images/icons/arrow_white_head_right_192X192.png") no-repeat;
    background-size: contain;
    z-index: 2;
}

.carousel-control .icon-prev {
    left: 0;
    margin-left: 15px;
}

.carousel-control .icon-next {
    right: 0;
    margin-right: 15px;
}

.carousel-kootour .item {
    height: 450px;
}

.carousel-kootour img {
    width: 100%;
    height: 450px;
}

@media (min-width: 601px) and (max-width: 768px) {
    .carousel-kootour .item {
        height: 350px;
    }
}

@media (max-width: 600px) {
    .carousel-kootour .item {
        height: 250px;
    }
}

.wishlist-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .wishlist-wrapper .tours {
        flex: 0 1 49%;
        margin-bottom: 15px;
    }

.tours .tours-illustration {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.tours:hover .tours-illustration {
    -webkit-filter: brightness(85%);
    filter: brightness(85%);
}

.tours .tours-content.tours-content-fixed {
    overflow: hidden;
    height: 350px;
}

.tours .tours-content > p {
    margin: 0 0 3px;
}

.tours a {
    text-decoration: none;
    color: #333333;
}

    .tours a:hover {
        color: #333333;
    }

.tours-illustration {
    height: 190px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.tours-price-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    left: 0;
    bottom: 15px;
    padding: 5px 15px 0 7px;
    color: white;
    background-color: rgba(0, 204, 204, 0.75);
    border-radius: 0px 3px 3px 0px;
}

    .tours-price-wrapper > * {
        flex: 0 1 auto;
    }

    .tours-price-wrapper > div:last-child {
        /*line-height: 12px;*/
        margin-bottom: 5px;
        margin-left: 7px;
    }

.tours-illustration {
    margin: 0 0 5px;
}

.tours-price {
    display: block;
    margin: 0;
    color: #f5d10a;
}

.tours-original-price {
    display: block;
    line-height: 5px;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: line-through;
}

.section-small .tours:not(:last-child) {
    margin-bottom: 15px;
}

@media screen and (max-width: 640px) {
    .wishlist-wrapper {
        flex-direction: column;
    }

        .wishlist-wrapper .tours {
            flex: 0 1 auto;
            -webkit-flex: 0 1 auto;
            margin-bottom: 0;
        }
}



/*.cover .form-cover {
  display: flex;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(237, 237, 239, 0.5);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 900px;
  margin-top: 20px;
  margin: 0 auto;
    }

  .cover .form-cover > * {
  flex: 0 1 33.3%;
  margin: 0 2.5px;
}
.cover .form-cover > :first-child {
  margin-left: 0;
}
.cover .form-cover > :last-child {
  margin-right: 0;
}
.cover .form-cover .form-control {
  width: 100%;
}
.cover .form-cover .form-control:-moz-placeholder {
  color: black;
}
.cover .form-cover .form-control:-ms-input-placeholder {
  color: black;
}
.cover .form-cover .form-control::-webkit-input-placeholder {
  color: black;
}*/

/* Section */
.border-section {
    border-top: 10px solid #00CCCC;
    border-radius: 3px;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

/*section.section {
        padding-top: 15px;
        padding-bottom: 30px;
        padding-left: 45px;
        padding-right: 45px;
    }*/

/*section.section.section-small {
            padding-top: 15px;
            padding-bottom: 30px;
            padding-left: 15px;
            padding-right: 15px;
        }*/

/*section.section {
        margin-top: 25px;
        background-color: white;
        border-top: 10px solid #00CCCC;
        border-radius: 3px;
        box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    }*/

section.carousel-kootour-section {
    margin-top: 25px;
    background-color: white;
}

section.section.noborder {
    border-color: transparent;
}

section.section.nomargin {
    margin-top: 0px;
}

section.section.noshadow {
    box-shadow: 0px 0px;
}

section.section.nopadding {
    padding-left: 0px;
    padding-right: 0px;
}

    section.section.nopadding .title {
        padding-left: 45px;
        padding-right: 45px;
    }

section.section-small.nopadding .title {
    padding-left: 15px;
    padding-right: 15px;
}

section.section.transparent {
    background-color: transparent;
}

section.section table.table-information {
    margin-bottom: 10px;
}

    section.section table.table-information td {
        padding-bottom: 10px;
        vertical-align: bottom;
    }

section.section a.action {
    float: right;
    margin-top: 10px;
}

section section.map section {
    background-color: green;
}

section.map > section.contact {
    font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
    color: white;
    background-image: linear-gradient(-180deg, #D0B557 0%, #A37E2C 100%);
    width: 350px;
    max-width: 100%;
    height: 258px;
    opacity: 0.85;
    margin-top: 25px;
    padding-top: 10px;
    border-radius: 3px;
    box-shadow: -1px 0 2px 0 rgba(0,0,0,.12), 1px 0 2px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.12);
}

    section.map > section.contact p {
        margin: 15px auto;
    }

.nested-section {
    margin-top: 20px;
    margin-bottom: 20px;
}


section.backgroundimg {
    background-image: url('../../images/aboutus.jpg');
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

section.background-img-help {
    background-image: url('../../images/help.jpg');
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.services-section {
    background: white;
    text-align: center;
    padding-bottom: 0px;
}

    .services-section .row.row-padding {
        padding-top: 40px;
    }

.btn {
    padding: 8px 16px;
    font-size: 16px;
    font-size: 1.6rem;
    border-radius: 3px;
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 4px 8px;
}

.btn-lg {
    font-size: 18px;
    font-size: 1.8rem;
    padding: 8px 16px;
    border-radius: 3px;
}

.btn-xxl {
    font-size: 20px;
    padding: 20px 50px;
    border-radius: 3px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: white;
    text-decoration: none;
}

.btn:active,
.btn.active {
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
}

/*@media screen and (max-width: 1170px) {
  .btn-kootour {
    padding: 5px 14px;
  }
}*/
/* Reviews */
.reviews .review {
    padding-left: 45px;
    padding-right: 45px;
}

.review {
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .review:not(:nth-last-child(2)) {
        border-bottom: 1px solid #ededef;
    }

    .review > .illustration {
        flex-grow: 0;
        flex-basis: 15%;
        flex-shrink: 0;
    }

    .review > .details {
        flex-grow: 1;
        flex-basis: 1;
        flex-shrink: 1;
    }

@media screen and (max-width: 640px) {
    .review > .illustration {
        margin-right: 0;
    }

    .review {
        flex-direction: column;
    }

        .review > .details,
        .review > .illustration {
            flex-grow: 1;
            flex-basis: auto;
            flex-shrink: 1;
        }
}

@media screen and (max-width: 400px) {
    .review {
        flex-direction: column;
    }

        .review > .details,
        .review > .illustration {
            flex-grow: 1;
            flex-basis: auto;
            flex-shrink: 1;
        }
}
/* Reviews */
.guide {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .guide > .illustration {
        flex-grow: 0;
        flex-basis: 20%;
        flex-shrink: 0;
    }

    .guide > .details {
        flex-grow: 1;
        flex-basis: 1;
        flex-shrink: 1;
    }

@media screen and (max-width: 640px) {
    .guide {
        flex-direction: column;
    }

        .guide > .details,
        .guide > .illustration {
            flex-grow: 1;
            flex-basis: auto;
            flex-shrink: 1;
            overflow-x: auto;
        }
}
/* Tour description */
.tour-detail .tour-descriptions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.tour-detail .tour-description {
    flex: 0 1 auto;
    width: 160px;
    word-break: break-all;
}

    .tour-detail .tour-description td {
        vertical-align: text-top;
    }

@media screen and (max-width: 970px) {
    .tour-detail .tour-description {
        margin: 10px 0px;
    }
}
/* Customized options */
.right-column-sticky section.section:first-child {
    margin-top: calc(15px - 5px);
}

.widget .form-group {
    margin: 0;
}

.widget .input-group-addon {
    padding: 5px 12px;
}

.widget .customized-option {
    border-bottom: 1px solid #ededef;
}

.widget .widget-row {
    display: table;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

    .widget .widget-row.customized-option-readonly {
        padding-bottom: 5px;
        padding-top: 5px;
    }

.widget .customized-option {
    font-size: 14px;
    font-size: 1.4rem;
}

    .widget .customized-option > .option-checkbox {
        display: table-cell;
        vertical-align: middle;
        width: 10%;
    }

    .widget .customized-option > .option-label {
        display: table-cell;
        vertical-align: middle;
        width: 60%;
    }

    .widget .customized-option > .option-price {
        display: table-cell;
        vertical-align: top;
        width: 30%;
        text-align: right;
    }

    .widget .customized-option > .option-label label {
        font-weight: normal;
        margin-bottom: 0;
        cursor: pointer;
    }

.widget button {
    white-space: normal;
    margin-top: 30px;
}

.widget .option-price > span {
    display: block;
}

    .widget .option-price > span.hours {
        font-size: 10px;
        font-size: 1rem;
    }

.widget .coupon-form {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
}

    .widget .coupon-form > input {
        flex: 0 1 auto;
        max-width: 145px;
    }

    .widget .coupon-form > button {
        flex: 0 1 auto;
        margin: 0;
    }

.datepicker .glyphicon-chevron-right:before,
.datepicker .glyphicon-chevron-left:before {
    color: #00cccc;
}

.datepicker .picker-switch {
    color: #00cccc;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #00cccc;
}

.bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: #00cccc;
}

.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
    background: #f5d10a;
    color: white;
}

.add-favorite {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    background-image: url('../../images/icons/heart_intactive.png');
}

    .add-favorite:hover {
        background-image: url('../../images/icons/heart_active.png');
    }

@media screen and (max-width: 400px) {
    .add-favorite {
        width: 20px;
        height: 20px;
    }
}
/* Vote */
.vote-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

    .vote-wrapper > * {
        flex: 0 1 auto;
    }

.vote-wrapper-block.vote-wrapper-block {
    display: block;
}

.vote-wrapper ul.vote {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 15px;
}

    .vote-wrapper ul.vote > li {
        display: inline-block;
    }

        .vote-wrapper ul.vote > li > img {
            width: 22px;
            display: block;
        }

@media screen and (max-width: 970px) {
    .vote-wrapper ul.vote > li > img {
        width: 12px;
    }
}

@media screen and (max-width: 750px) {
    .vote-wrapper > * {
        display: block;
    }
}

.vote-wrapper ul.vote {
    margin-right: 0px;
}

}

table.table-booking-summary {
    margin-bottom: 0;
    width: 100%;
}

    table.table-booking-summary td {
        padding: 0;
        border-top: 0;
    }

table.table-guide-desc {
    width: 100%;
}

    table.table-guide-desc:not(:last-child) {
        margin-bottom: 15px;
    }

    table.table-guide-desc td:first-child {
        width: 30%;
        max-width: 150px;
    }

    table.table-guide-desc td {
        padding: 0;
        border-top: 0;
        text-align: left;
    }

    table.table-guide-desc .icon {
        margin: 0;
    }

table.table-header {
    margin-bottom: 15px;
    width: 100%;
}

.login-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

    .login-wrap > .login-container {
        flex: 0 1 47%;
        -webkit-flex: 0 1 47%;
    }

    .login-wrap > .login-separator {
        flex: 0 1 auto;
        -webkit-flex: 0 1 auto;
    }

.login-form .form-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .login-form .form-actions > * {
        flex-grow: 1;
        flex-basis: 50%;
        flex-shrink: 1;
    }

@media screen and (max-width: 768px) {
    .login-wrap {
        justify-content: center;
    }

    .login-wrap-collapse {
        flex-direction: column;
    }

    .login-wrap > .login-container {
        flex: 0 1 auto;
        -webkit-flex: 0 1 auto;
        margin: 0 15px;
    }

    .login-wrap-collapse > .login-container:first-child {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 400px) {
    .login-form .form-actions {
        display: block;
        text-align: left;
    }

        .login-form .form-actions > * {
            display: block;
            text-align: left;
        }
}

section.purchase-payment-details {
    background-color: #F7F7F8;
    padding: 0;
    margin-bottom: 30px;
}

section.purchase-payment {
    border-bottom: 1px solid #ededef;
    border: 0;
    padding-top: 0;
    box-shadow: none;
    border-radius: 0;
    margin-top: 0;
    padding-bottom: 15px;
}

@media screen and (max-width: 768px) {
    section.purchase-payment .action {
        text-align: left;
        margin-top: 15px;
    }
}

.city-wrapper {
    position: relative;
    margin-bottom: 30px;
    height: 350px;
}

    .city-wrapper .city-illustration {
        height: 350px;
        position: relative;
        background-size: cover;
        background-position: center center;
        display: flex;
        vertical-align: middle;
        align-items: center;
        border-top: 10px solid #00CCCC;
        border-radius: 3px;
        box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
    }

        .city-wrapper .city-illustration:hover {
            -webkit-filter: brightness(85%);
            filter: brightness(85%);
        }

    .city-wrapper a {
        text-decoration: none;
    }

    .city-wrapper span {
        font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
        color: white;
        font-size: 48px;
        font-size: 4.8rem;
        margin: 0 auto;
        z-index: 2;
        position: absolute;
        left: 0;
        top: 40%;
        width: 100%;
        text-align: center;
    }

@media screen and (max-width: 768px) {
    .city-wrapper span {
        font-size: 35px;
        font-size: 3.5rem;
    }
}
/* Section */
.border-section {
    border-top: 10px solid #00CCCC;
    border-radius: 3px;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
