﻿.nopadding {
  padding: 0;
}

.form-searchcities pre {
  width: 100%;
}

    .form-searchcities input {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 2px solid #a37E2c;
        border-right: 0;
        box-shadow: none;
        font-size: 1em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
        height: 40px;
        padding: 15px;
    }

.form-searchcities button[type="submit"] {
  border-radius: 0 3px 3px 0px;
  color: #fff;
  background-color: white;
  border: 2px solid #a37e2c;
  border-left: 0;
  font-size: 12px;
  padding: 10px;
  height: 40px;
  box-shadow: none;
  background-image: none;
}
.form-searchcities button[type="submit"] div {
  padding: 13px;
  background-color: #a37e2c;
  font-size: initial;
  border-radius: 3px;
}
.form-searchcities button[type="submit"] div img {
  width: 15px;
}
.form-searchcities .form-searchcities-content {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  top: 60px;
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  height: 750px;
  z-index: 99;
}
.form-searchcities .form-searchcities-content .country-menu {
  flex: 0 1 215px;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 19px;
}
.form-searchcities .form-searchcities-content .country-menu .country-link {
  border-right: 1px solid #c3c3c3;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-direction: column;
  padding-top: 20px;
}
.form-searchcities .form-searchcities-content .country-menu .country-link span {
  font-size: 24px;
  color: #333333;
}
.form-searchcities .form-searchcities-content .country-menu .country-link img {
  width: 100%;
  margin-top: 25px;
}
.form-searchcities .form-searchcities-content .country-menu .country-link img.asia {
  width: 150px;
}
.form-searchcities .form-searchcities-content .country-menu .country-link img.europe {
  width: 123.5px;
}
.form-searchcities .form-searchcities-content .country-menu .country-link img.america {
  width: 132.2px;
}
.form-searchcities .form-searchcities-content .country-menu .country-link:not(:last-child) {
  border-bottom: 1px solid #c3c3c3;
}
.form-searchcities .form-searchcities-content .country-menu .country-link.active,
.form-searchcities .form-searchcities-content .country-menu .country-link:hover {
  background-color: #ededef;
}
.form-searchcities .form-searchcities-content .country-content {
  flex: 1 1 auto;
  position: relative;
  background-color: white;
}
.form-searchcities .form-searchcities-content .country-content .country-result {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 14px;
}
.form-searchcities .form-searchcities-content .country-content .country-result .country-title {
  margin-top: 0px;
  font-size: 24px;
  color: #333333;
  margin-bottom: 15px;
  text-align: left;
}
.form-searchcities .form-searchcities-content .country-content .country-result ul.country-list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}
.form-searchcities .form-searchcities-content .country-content .country-result ul.country-list li {
  flex: 0 1 25%;
  margin: 5px 0;
}
.form-searchcities .form-searchcities-content .country-content .country-result ul.country-list li a {
  text-decoration: none;
  color: inherit;
}
.form-searchcities .form-searchcities-content .country-content .country-result ul.country-list li:hover {
  color: #0cc;
  cursor: pointer;
}
.form-searchcities .form-searchcities-content .country-content .country-result .country-list-md li {
  flex: 0 1 50% !important;
}
.form-searchcities .form-searchcities-content .country-content .country-result .country-list-xs li {
  flex: 0 1 100% !important;
}
.form-searchcities .form-searchcities-content .country-content .country-result.active {
  visibility: visible;
  opacity: 1;
}
.form-searchcities .form-searchcities-content:not(.active) {
  display: none;
}
.form-searchcities-xs button[type="submit"] {
  height: 44px;
  padding: 2px;
}
.form-searchcities-xs button[type="submit"] div {
  padding: 6px;
}
.form-searchcities-xs button[type="submit"] div img {
  width: 15px;
}
.form-searchcities-xs input {
  height: 44px;
  font-size: 16px;
}
.navbar-form.form-searchcities {
  width: 550px;
}
.navbar-form.form-searchcities .form-control {
  width: 100%;
}
.navbar-form .input-group {
  width: 100%;
}
