﻿.form-searchandtypeahead {
    font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
    !important;
}

.form-searchandtypeahead .input-group-btn {
  z-index: 2;
  width: 1% !important;
}
.form-searchandtypeahead .twitter-typeahead .tt-menu {
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}
    .form-searchandtypeahead .twitter-typeahead .tt-menu .tt-dataset-tours {
        border-left: 2px solid #a37e2c;
        border-bottom: 2px solid #a37e2c;
        border-right: 2px solid #a37e2c;
        border-top: 0;
        padding: 0px;
    }
.form-searchandtypeahead .twitter-typeahead .tt-menu .tt-dataset-tours .tt-suggestion {
  padding-left: 14px;
  margin: 0;
  cursor: pointer;
  padding-top: 14px;
  padding-bottom: 10px;
}
.form-searchandtypeahead .twitter-typeahead .tt-menu .tt-dataset-tours .tt-suggestion:hover ,
.form-searchandtypeahead .twitter-typeahead .tt-menu .tt-dataset-tours .tt-suggestion.tt-cursor {
  background-color: rgba(204, 204, 204, 0.18);
}
.form-searchandtypeahead .twitter-typeahead .tt-menu .tt-dataset-tours .tt-suggestion:not(:last-child) {
  border-bottom: 1px solid #c3c3c3;
}
.form-searchandtypeahead-xs .twitter-typeahead .tt-menu {
  font-size: 1em;
}
.form-searchandtypeahead-xs .twitter-typeahead .tt-menu .tt-dataset-tours .tt-suggestion {
  padding-left: 25px;
  padding-top: 8px;
  padding-bottom: 6px;
}
