.nopadding {
  padding: 0;
}
.form-typeahead input:focus {
  box-shadow: none;
  border: 2px solid #a37e2c;
  border-right: 0;
}
.form-typeahead input {
  border-radius: 4px 0 0 0px;
  border-right: 0;
  box-shadow: none;
}
.form-typeahead button[type="submit"] {
  border-radius: 0 4px 0px 0px;
  border-left: 0;
  color: #fff;
  background-color: #0cc;
}
.form-typeahead button.btn-close {
  color: #333;
  background-color: transparent;
  border-top: 1px solid #0cc;
  border-bottom: 1px solid #0cc;
}


.form-typeahead .btn:focus,
.form-typeahead .btn:active {
    outline: none;
    background-color: white;
    border-color: #a37e2c;
    box-shadow: none;
}

.form-typeahead .twitter-typeahead {
  position: initial !important;
  width: 100%;
  display: flex !important;
}
.form-typeahead .twitter-typeahead .tt-menu {
  /*top:34px !important;*/
  width: 100%;
}
    .form-typeahead .twitter-typeahead .tt-menu .tt-dataset-tours {
        background-color: white;
        border-radius: 0 0px 4px 4px;
        border-left: 1px solid #a37e2c;
        border-right: 1px solid #a37e2c;
        border-bottom: 1px solid #a37e2c;
        padding: 10px;
    }

element.style {
    position: absolute;
    top: 0px;
    left: 0px;
    border-color: transparent;
    box-shadow: none;
    opacity: 1;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
}

